body { 
  margin: 100px 0; 
  font-family: sans-serif;
  color: #999;
}

p {
  font-size: 14px;
  line-height: 21px;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  color: #1cbbe9;
  border-bottom: 1px dotted #1cbbe9;
  margin: 10px 0;
}

#mytabset {
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.semtabs {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 30px;
}

.semtabs li {
  width: 100px;
  float: left;
}

.semtabs a {
  display: block;
  background: #ddd;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  color: #dedede;
  border: 1px solid #dedede;
  border-left: none;
  border-radius: 5px 5px 0 0;
  background: #fafafa
}

.semtabs li:first-child a {
  border-left: 1px solid #dedede;
}

.semtabs li.active a {
  background: #fff;
  color: #a8a8a8;
  border-bottom: none;
}

.panel { padding: 10px 5px; }

.activate {
  width: 300px;
  margin: 20px auto;
}